@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.navbar {
  width: 100%;
  background-color: black;
  height: 5rem;

  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aqua;
}

.nav__heading {
  font-weight: bold;
}

.nav__buttons {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.navigate {
  color: white;
  background-color: transparent;
  padding: 0.5rem;

  text-decoration: none;
}
.link-active {
  color: aqua;
}

.hero {
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero .hero__img {
  max-width: 350px;
}
.hero .hero__heading {
  color: darkgray;

  text-align: center;
  padding-top: 2rem;
}
.hero .hero__heading .heading__inverted {
  color: cyan;
}

.main {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  place-items: center;
}

section {
  padding: 2rem;
  max-width: 600px;
  width: 100%;
}
section h3 {
  text-align: center;
  padding: 2rem;
}

section ul {
  margin-bottom: 1rem;
  color: cyan;
  text-shadow: 0 0 0.8rem rgb(0, 153, 255);
}

section p {
  margin-bottom: 3rem;
}

.main__section {
  margin-top: 2rem;
  background-color: black;
  color: white;
  border-radius: 1rem;
  position: relative;
  z-index: 1;
  border: aqua 1px solid;
}

.main__section:after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 0 3rem black;
  border: aqua 1px solid;
}

.remove_margin {
  margin-bottom: 0rem;
}

.ow {
  background-color: whitesmoke;
  border-radius: 1rem;
}

.see__buttons {
  background-color: cyan;
  padding: 0.3rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem black;
  font-size: 0.8rem;
  transition: all 200ms ease;
}
.see__buttons:hover {
  background-color: rgb(1, 166, 172);
  color: white;
  box-shadow: 0 0 0.2rem black;
}

.footer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  background-color: black;
  color: aqua;
}
.footer .social__media {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.footer .social__media .social {
  transition: all 150ms ease;
}

.footer .social__media .social:hover {
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: white 0 0 0.8rem;
}

.footer .social__media .social {
  color: aqua;
  text-decoration: none;
}

.technologies {
  font-weight: bold;
}
